<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Educa</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img
              src="https://th.bing.com/th/id/OLC.WRT9f1V9D7eVzw480x360?&rs=1&pid=ImgDet"
              alt="Bootstrap"
              width="30"
              height="24"
            />
            Educa Academy
          </a>
        </div>
      </nav>
    </header>
    <div class="container-fluid">{% block Layout %}{% endblock %}</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <!-- Optional: include a polyfill for ES6 Promises for IE11 -->
</html>
